@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-antique-olive-regular);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-antique-olive);
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.container {
  @apply max-w-7xl mx-auto;
}

.section {
  @apply py-16 px-10 md:py-24;
}